<!DOCTYPE html>
<html>
<head>
  <title>HopCat Madness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <h1 id="title">March Microbrew Madness</h1>
    <%= yield %>
  </div>
</body>

<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <a href="http://www.hopcat.com">HopCat</a> © 2016 Barfly Ventures
  </nav>
</footer>

</html>
